<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ inventory_hostname }}</title>
</head>
<body>
    <h1>Environment: {{ web_env }}</h1>
    <p>Server: {{ inventory_hostname }}</p>
</body>
</html>
